@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

@layer base {
  html {
    background-color: theme('colors.neutral.900');
  }
  h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 550;
    font-size: xx-large;
  }
  h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 550;
    font-size: 26px;
  }
  h3 {
    font-family: 'EB Garamond, serif';
    font-weight: 500;
    font-size: 22px;
  }
  h4 {
    font-family: 'Inter', sans-serif;
  }
  button {
    font-family: 'EB Garamond, serif';
    font-weight: 600;
  }
}

@layer components {
  .button-basic {
    @apply bg-neutral-100 text-black rounded-full px-6 py-2 text-xl;
  }
}
